body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokedexWrapper{
  display: flex;
  align-items: flex-end;
  justify-content: center;   
}

.UpperWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LeftWrapper{
  display: flex;
  align-items: center;
  justify-content: center; 
}